<style>

.ui-state-default-act1{
        width: 460px;
        height: 60px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
        vertical-align: center;
      }
      .ui-state-default-act2{
        width: 460px;
        height: 120px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
        vertical-align: center;
        
      }
      .ui-state-default-act3{
        width: 460px;
        height: 180px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
        vertical-align: center;
      }
      .ui-state-default-act4{
        width: 460px;
        height: 240px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
        vertical-align: center;
      }
      h3{
        font-size: 14px;

        color: #EE7600;
        font-family: opensans;
      }
      p{
        font-family: opensans;
        font-size: 12px;
        text-align: justify;
      }
      .rating {
        float: right;
        text-align: right;
        color: black;
      }
      .budget{
        float:right;
      }
      .entry{
        padding: 5px
      }
      #tabs{
        height:630px;

      }
      .tabcont{
        height: 550px;
        overflow:scroll;

      }
      .budgetsymbol{
        float: left;
   
      }
      .linkstosite
      {
        float:right;

      }
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable li span { position: absolute; margin-left: -1.3em; }
      
</style>
        <% for entry in @fullday %>
        <% ratingsymbol = "";
           ratingval = entry.rating

           if(ratingval == 1)
            ratingsymbol = "♥"
           end
           if(ratingval == 2)
             ratingsymbol = "♥♥"
           end
           if(ratingval == 3)
             ratingsymbol = "♥♥♥"
           end
           if(ratingval == 4)
             ratingsymbol = "♥♥♥♥"
           end
           if(ratingval == 5)
             ratingsymbol = "♥♥♥♥♥"
           end

           budgetsymbol = ""
           budgetval = entry.budget

           if(budgetval == "1")
            budgetsymbol = "$"
           end
           if(budgetval == "2")
             budgetsymbol = "$$"
           end
           if(budgetval == "3")
             budgetsymbol = "$$$"
           end
         %>

        <% if entry.time == 1 %> 
            <%= content_tag :div, :class => "ui-state-default-act1" do %>
           <div class="entry"> 
           <h3><%= entry.name %><span class = "rating"><%= ratingsymbol %> </span></h3>
            <p><%= entry.description %><span class="linkstosite"><a><%= link_to "Show More", entry.info_url, :target => "_blank" %></a></span>  </p>
             
          </div>
          <% end %>
        <% end %>
        
        <% if entry.time == 2 %> 
          <%= content_tag :div, :class => "ui-state-default-act2" do %>
           <div class="entry" id = ""> 
           <h3><%= entry.name %><span class = "rating"><%= ratingsymbol %> </span></h3>
            <p><%= entry.description %><span class="linkstosite"><a><%= link_to "Show More", entry.info_url, :target => "_blank" %></a></span></p>
            
          </div>
          <% end %>
        <% end %>

        <% if entry.time == 3 %> 
          <%= content_tag :div, :class => "ui-state-default-act3" do %>
          <div class="entry"> 
           <h3><%= entry.name %><span class = "rating"><%= ratingsymbol %> </span></h3>
            <p><%= entry.description %> <span class="linkstosite"><a><%= link_to "Show More", entry.info_url, :target => "_blank" %></a></span> </p>
            
          </div>
          <% end %>
        <% end %>

        <% if entry.time == 4 %> 
          <%= content_tag :div, :class => "ui-state-default-act4" do %>
          <div class="entry">         
           <h3><%= entry.name %><span class = "rating"><%= ratingsymbol %> </span></h3>
           <p><%= entry.description %> <a class="linkstosite"><%= link_to "Show More", entry.info_url, :target => "_blank" %></a> </p>
            
          </div>
          <% end %>
        <% end %>

        <% end %>
          </ul>
        </div>
      </div>
