<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="jquery.dropdown.css" />
<script type="text/javascript" src="jquery.dropdown.js"></script>
<script type="text/javascript" src="jQuerylink" ></script>
<script src="jqui.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<spript src="js/jquery-1.8.0.js"></script>
<link rel="stylesheet" src="jqui.css" />
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media =>"all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key,value| %>
		<div class="alert aler - <%= key%>"> <%= value %></div>
		<% end %>
<%= yield %>
<!--<%= debug(params) if Rails.env.development? %>-->
</div>
</head>

<body>
	<br/>
	<br/>
	<br/>
	<br/>
<div id="footer">
	Created by Victoria Li, Nitya Subramanian, Anubhav Jain
</div>
</body>
</html>
